* {
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
}

body {
    background-color: #000000;
}


.educacion {
    margin: 0 0 0 30%;
}

.educacion img{
    margin: 1rem 0 0 10% ;
    border-radius: 50%;
    width: 40%;
    border-color: rgb(131, 102, 238);
    border-width: 5px 30px; 
    border-style: double;
}

.Experiencia {
    margin: 0 0 0 30%;
}

.Experiencia h2{
    color: aliceblue;
}

footer {
    background-color: rgb(39, 37, 37);
    text-align: center;
    color: aliceblue;
    object-position: top;
    padding: 1rem;
    background-image: var(--bs-gradient);
}

/* Estilos portafolio */

.trabajos {
    margin: 1em;
    text-align: center;
    
}

.trabajos .card {
    margin: 0 10%;
    
}

.list-group-item img{
        width: 60%;
        border-color: rgb(0, 0, 0);
        border-width: 2px 10px 5px;
        border-style: ridge;
        margin: 1em;
        border-radius: 10%;
}
