* {
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
}

body {
    background-color: #000000;
}

.profile {
    padding: 2em;
    text-align: center;
    max-width: 50em;
    margin: auto;
}

.profile img {
    margin: 1rem auto;
    display: block;
    border-radius: 50%;
    width: 40%;
    border-color: rgb(131, 102, 238);
    border-width: 5px 30px;
    border-style: double;
}

.profile h1 {
    padding: 2em;
    margin: 0 auto;
}

.educacion {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20em;
    padding: 2em;
}

.experiencia {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20em;
    padding: 2em;
}

.experiencia h2 {
    color: aliceblue;
}

.card {
    min-width: 20em;
}



footer {
    background-color: rgb(39, 37, 37);
    text-align: center;
    color: aliceblue;
    object-position: top;
    padding: 1rem;
    background-image: var(--bs-gradient);
}

/* Estilos portafolio */

.trabajos {
    margin: 1em;
    text-align: center;

}

.trabajos .card {
    margin: 0 10%;

}

.list-group-item img {
    width: 60%;
    border-color: rgb(0, 0, 0);
    border-width: 2px 10px 5px;
    border-style: ridge;
    margin: 1em;
    border-radius: 10%;
}